// Fonts
@import url('https://fonts.googleapis.com/css?family=Open Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~owl.carousel2/dist/assets/owl.carousel.css';
@import "~font-awesome/scss/font-awesome";
body{
    font-family: OpenSans,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif !important;
    font-weight: 300 !important;
}
h1,h2,h3,h4,h5{
    font-weight: 400 !important;
}

.input-group-text{
    background-color: #404040 !important;
    color:white;
}

.post-content p{
    font-size: 12px !important;
}

.text-blue{
    color: #00008b !important;
}

.image-bg{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.top-day p{
    line-height: 1.4;
    font-size: 16px;
}

.slider {
    width: 100%;
    background-image: url("https://opt-himik.ru/image/backslider.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.owl-carousel .owl-item img{
    display: block;
    width: 165px;
    height: 165px;
}

.company .no-avatar img{
    position: absolute;
    top: -38px;
    left: calc(50% - 35px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 40px;
}

.sidebar_filter_category{
    max-height: 260px;
    overflow: auto;
    overflow-x: hidden;

}

@media (min-width: 768px) {
    .w-md-75{
        width: 75% !important;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1200px !important;
    }
}
@media (max-width: 768px) {
    .post-content{
        margin-top: 20px;
    }
    .post-content p{
        font-size: 14px !important;
    }
    .image-bg{
        background-repeat: no-repeat;
        height: 184px !important;
        width: 65% !important;
        margin: auto;
    }
}
